In [27]:
import os

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import seaborn as sns
import sagemaker
import boto3

from sklearn.model_selection import train_test_split

In [24]:
session = sagemaker.Session()
bucket = session.default_bucket()
prefix = 'angel-investor'
test_location = None
val_location = None
train_location = None

## Downloading Start-Up Data & Importing into Pandas

In [8]:
! curl -0 https://public.tableau.com/s/sites/default/files/media/Resources/crunchbase_monthly_export_d43b4klo2ade53.xlsx > data/startup.xlsx

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 48.6M  100 48.6M    0     0  20.4M      0  0:00:02  0:00:02 --:--:-- 20.4M

In [9]:
#!mv data/startup.xlsx data/startup.xls

In [10]:
!ls data

companies.csv  startup.xls  startup.xlsx

In [11]:
proj_dir = "/home/ec2-user/SageMaker/angel-investor"
xl = pd.ExcelFile("{0}/data/startup.xlsx".format(proj_dir), engine='openpyxl')
print("The sheets in the Excel are: ")
display(xl.sheet_names)

The sheets in the Excel are:

['License',
 'Analysis',
 'Companies',
 'Rounds',
 'Investments',
 'Acquisitions',
 'Additions']


## Data on Companies
### Initial Data Exploration

In [12]:
companies_df = xl.parse("Companies")
companies_df.to_csv("data/companies.csv", index=False)

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/openpyxl/worksheet/_reader.py:308: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

## Keeping Data only for US Companies

In [13]:
companies_df = companies_df.loc[companies_df['country_code'] == 'USA']
companies_df

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at
0,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,1750000.0,acquired,USA,NY,New York City,New York,1.0,2012-06-01 00:00:00,2012-06,2012-Q2,2012.0,2012-06-30 00:00:00,2012-06-30 00:00:00
1,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,4000000.0,operating,USA,CA,Los Angeles,Los Angeles,2.0,NaN,NaN,NaN,NaN,2010-06-04 00:00:00,2010-09-23 00:00:00
4,/organization/r-ranch-and-mine,-R- Ranch and Mine,NaN,|Tourism|Entertainment|Games|,Tourism,60000.0,operating,USA,TX,Dallas,Fort Worth,2.0,2014-01-01 00:00:00,2014-01,2014-Q1,2014.0,2014-08-17 00:00:00,2014-09-26 00:00:00
5,/organization/club-domains,.Club Domains,http://nic.club/,|Software|,Software,7000000.0,NaN,USA,FL,Ft. Lauderdale,Oakland Park,1.0,2011-10-10 00:00:00,2011-10,2011-Q4,2011.0,2013-05-31 00:00:00,2013-05-31 00:00:00
8,/organization/004-technologies,004 Technologies,http://004gmbh.de/en/004-interact,|Software|,Software,0.0,operating,USA,IL,"Springfield, Illinois",Champaign,1.0,2010-01-01 00:00:00,2010-01,2010-Q1,2010.0,2014-07-24 00:00:00,2014-07-24 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49426,/organization/zynga,Zynga,http://www.zynga.com,|Technology|Facebook Applications|Networking|G...,Technology,866550786.0,operating,USA,CA,SF Bay Area,San Francisco,9.0,2007-07-01 00:00:00,2007-07,2007-Q3,2007.0,2007-01-01 00:00:00,2011-02-18 00:00:00
49427,/organization/zyngenia,Zyngenia,http://www.zyngenia.com,|Biotechnology|,Biotechnology,25000000.0,operating,USA,MD,"Washington, D.C.",Gaithersburg,1.0,2008-01-01 00:00:00,2008-01,2008-Q1,2008.0,2010-09-09 00:00:00,2010-09-09 00:00:00
49429,/organization/zyomyx-inc,ZYOMYX,http://www.zyomyx.com,|Biotechnology|,Biotechnology,34275015.0,operating,USA,MO,MO - Other,Fremont,4.0,1998-01-01 00:00:00,1998-01,1998-Q1,1998.0,2010-01-29 00:00:00,2014-03-26 00:00:00
49431,/organization/zyrra,Zyrra,http://www.zyrra.com,|E-Commerce|,E-Commerce,1510500.0,operating,USA,MA,Boston,Cambridge,4.0,NaN,NaN,NaN,NaN,2010-10-21 00:00:00,2012-10-18 00:00:00
49437,/organization/x,[x+1],http://www.xplusone.com/,|Enterprise Software|,Enterprise Software,45000000.0,operating,USA,NY,New York City,New York,4.0,1999-01-01 00:00:00,1999-01,1999-Q1,1999.0,2008-06-01 00:00:00,2013-04-04 00:00:00

### Dropping Rows with Missing Values

In [14]:
companies_df = companies_df.dropna(axis=0)

### Class to Help Inspect Data for Cleaning Purposes

In [15]:
class EDA(object):
    
    def __init__(self, df, y):
        self.df = df
        self.y_string = y
        self.y = df[y]
        return None
    
    
    def inspect(self):
        inspect = {}
        inspect['head'] = self.df.head()
        inspect['describe'] = self.df.describe().T
        inspect['dtypes'] = self.df.dtypes
        return inspect
        
        return inspect 
    
    def _dist_plot(self, df, var):
        plt.figure()
        sns_plot = sns.distplot(df[var].dropna(), color='b').get_figure()
#         sns_plot.savefig("dist_plot_{0}.png".format(var))
        return sns_plot
    
    
    def variation(self):
        numerical = self.df.select_dtypes(include=np.number)
        for col in numerical.columns: 
            self._dist_plot(df=numerical, var=col)   
        return None
    
    
    def _scatter_matrix(self):
        numerical = self.df.select_dtypes(include=np.number)
        plt.figure()
        sns_plot = sns.pairplot(numerical)
#         sns_plot.savefig("scatter_matrix_plot.png".format())
        return None
    
    def _box_plot(self, var_x):
        plt.figure()
        sns_plot = sns.boxplot(x=var_x, y=self.y, data=self.df).get_figure()
        sns_plot.savefig("box_plot_{0}_{1}.png".format(var_x, self.y_string))
        return None
    
    def _scatter_plot(self, var_x):
        sns_plot = sns.lmplot(x=var_x, y=self.y_string, data=self.df)
#         sns_plot.savefig("correlation_{0}_{1}.png".format(var_x, self.y_string))
        return None
    
    def covariation(self):
        self._scatter_matrix()
        
        categorical = self.df.select_dtypes(include=['bool', 'category']) 
        for col in categorical.columns:
            self._box_plot(var_x = col)
         
        numerical = self.df.select_dtypes(include=np.number)
        for col in numerical.columns:
            self._scatter_plot(var_x=col)
        return None
    
    def run(self):
        self.variation()
        self.covariation()
        return None
    
    

eda_companies = EDA(companies_df, y = 'funding_total_usd')

eda_companies.inspect()['head']

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at
0,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,1750000.0,acquired,USA,NY,New York City,New York,1.0,2012-06-01 00:00:00,2012-06,2012-Q2,2012.0,2012-06-30 00:00:00,2012-06-30 00:00:00
8,/organization/004-technologies,004 Technologies,http://004gmbh.de/en/004-interact,|Software|,Software,0.0,operating,USA,IL,"Springfield, Illinois",Champaign,1.0,2010-01-01 00:00:00,2010-01,2010-Q1,2010.0,2014-07-24 00:00:00,2014-07-24 00:00:00
12,/organization/1-800-dentist,1-800-DENTIST,http://www.1800dentist.com,|Health and Wellness|,Health and Wellness,0.0,operating,USA,CA,Los Angeles,Los Angeles,1.0,1986-01-01 00:00:00,1986-01,1986-Q1,1986.0,2010-08-19 00:00:00,2010-08-19 00:00:00
13,/organization/1-800-doctors,1-800-DOCTORS,http://1800doctors.com,|Health and Wellness|,Health and Wellness,1750000.0,operating,USA,NJ,Newark,Iselin,1.0,1984-01-01 00:00:00,1984-01,1984-Q1,1984.0,2011-03-02 00:00:00,2011-03-02 00:00:00
16,/organization/10-20-media,10-20 Media,http://www.10-20media.com,|E-Commerce|,E-Commerce,2050000.0,operating,USA,MD,Baltimore,Woodbine,4.0,2001-01-01 00:00:00,2001-01,2001-Q1,2001.0,2009-06-18 00:00:00,2011-12-28 00:00:00

### Removing columns that don't have value for analysis

In [16]:
cols_to_drop = ['permalink', 
                'homepage_url', 
                'country_code', 
                'city', 
                'name', 
                'founded_at', 
                'founded_month', 
                'founded_quarter',
                'first_funding_at',
                'last_funding_at'
               ]
companies_df = companies_df.drop(columns=cols_to_drop)
companies_df

,category_list,market,funding_total_usd,status,state_code,region,funding_rounds,founded_year
0,|Entertainment|Politics|Social Media|News|,News,1750000.0,acquired,NY,New York City,1.0,2012.0
8,|Software|,Software,0.0,operating,IL,"Springfield, Illinois",1.0,2010.0
12,|Health and Wellness|,Health and Wellness,0.0,operating,CA,Los Angeles,1.0,1986.0
13,|Health and Wellness|,Health and Wellness,1750000.0,operating,NJ,Newark,1.0,1984.0
16,|E-Commerce|,E-Commerce,2050000.0,operating,MD,Baltimore,4.0,2001.0
...,...,...,...,...,...,...,...,...
49425,|Pharmaceuticals|,Pharmaceuticals,13000000.0,operating,PA,Philadelphia,1.0,2014.0
49426,|Technology|Facebook Applications|Networking|G...,Technology,866550786.0,operating,CA,SF Bay Area,9.0,2007.0
49427,|Biotechnology|,Biotechnology,25000000.0,operating,MD,"Washington, D.C.",1.0,2008.0
49429,|Biotechnology|,Biotechnology,34275015.0,operating,MO,MO - Other,4.0,1998.0
49437,|Enterprise Software|,Enterprise Software,45000000.0,operating,NY,New York City,4.0,1999.0

### Cleaning Text Columns

In [17]:
cols_to_lower = ['category_list', 'market', 'status', 'state_code', 'region']

for col in cols_to_lower:
    companies_df[col] = companies_df[col].str.lower()

companies_df

,category_list,market,funding_total_usd,status,state_code,region,funding_rounds,founded_year
0,|entertainment|politics|social media|news|,news,1750000.0,acquired,ny,new york city,1.0,2012.0
8,|software|,software,0.0,operating,il,"springfield, illinois",1.0,2010.0
12,|health and wellness|,health and wellness,0.0,operating,ca,los angeles,1.0,1986.0
13,|health and wellness|,health and wellness,1750000.0,operating,nj,newark,1.0,1984.0
16,|e-commerce|,e-commerce,2050000.0,operating,md,baltimore,4.0,2001.0
...,...,...,...,...,...,...,...,...
49425,|pharmaceuticals|,pharmaceuticals,13000000.0,operating,pa,philadelphia,1.0,2014.0
49426,|technology|facebook applications|networking|g...,technology,866550786.0,operating,ca,sf bay area,9.0,2007.0
49427,|biotechnology|,biotechnology,25000000.0,operating,md,"washington, d.c.",1.0,2008.0
49429,|biotechnology|,biotechnology,34275015.0,operating,mo,mo - other,4.0,1998.0
49437,|enterprise software|,enterprise software,45000000.0,operating,ny,new york city,4.0,1999.0

### Exploding Category Column and Converting to Dummy Variables

In [18]:
exploded_df = companies_df['category_list'].str.split("|", n=20, expand=True)

columns_to_dummy = list(range(1,21))
dummy_prefixes = []
for num in columns_to_dummy:
    column_prefix = "category_list{0}_".format(num)
    dummy_prefixes.append(column_prefix)
    
dummies_df = pd.get_dummies(exploded_df, prefix=dummy_prefixes, columns=columns_to_dummy)

# looking at most valuable categories to select categories, can remove later
display(companies_df.category_list.value_counts().head(45))

list_of_categories = [
    'software',
    'biotechnology',
    'curated web',
    'hardware',
    'mobile',
    'clean technology',
    'health',
    'e-commerce',
    'advertising',
    'manufacturing',
    'games',
    'education',
    'finance',
    'semiconductors',
    'consulting',
    'analytics',
    'hospitality',
    'security',
    'real estate',
    'web hosting',
    'social media',
    'medical',
    'fashion',
    'sports',
    'news',
    'public relations',
    'messaging',
    'transportation',
    'music',
    'automotive',
    'travel',
    'search'
 ]


def category_boolean(series):
    if series > 0:
        return 1
    else:
        return 0



#this sums up across rows and if the sum is greater than 0 it assigns a one, else it assigns it zero
for category in list_of_categories:
    companies_df['category_list_{0}'.format(category)] = dummies_df[dummies_df.filter(like=category).columns].apply(np.sum, axis=1)
    companies_df['category_list_{0}'.format(category)] = companies_df['category_list_{0}'.format(category)].apply(category_boolean)


   
    
companies_df = companies_df.drop(columns=['category_list'])

|software|                     1783
|biotechnology|                1654
|curated web|                   499
|enterprise software|           477
|hardware + software|           472
|mobile|                        470
|clean technology|              427
|health care|                   414
|health and wellness|           393
|e-commerce|                    370
|advertising|                   313
|games|                         285
|education|                     280
|manufacturing|                 276
|finance|                       234
|analytics|                     205
|semiconductors|                202
|security|                      183
|consulting|                    181
|hospitality|                   153
|web hosting|                   141
|real estate|                   136
|social media|                  136
|fashion|                       100
|medical|                        93
|messaging|                      81
|news|                           79
|sports|                         76
|public relations|               70
|health care|biotechnology|      64
|music|                          60
|automotive|                     57
|search|                         55
|travel|                         53
|nonprofits|                     52
|entertainment|games|            50
|photography|                    42
|transportation|                 40
|nanotechnology|                 39
|public transportation|          37
|legal|                          35
|medical devices|                28
|consumer electronics|           27
|local businesses|               27
|design|                         25
Name: category_list, dtype: int64

### One-Hot Encoding Categorical Variables

In [19]:
companies_df = pd.get_dummies(companies_df, columns=['market', 'state_code', 'region', 'status'])
companies_df = companies_df.drop(columns=['status_closed', 'status_operating'])
companies_df

,funding_total_usd,funding_rounds,founded_year,category_list_software,category_list_biotechnology,category_list_curated web,category_list_hardware,category_list_mobile,category_list_clean technology,category_list_health,...,region_wi - other,region_wichita,"region_wilmington - cape fear, north carolina","region_wilmington, delaware",region_winston-salem,region_worcester,region_wv - other,region_wy - other,region_youngstown,status_acquired
0,1750000.0,1.0,2012.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
8,0.0,1.0,2010.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0.0,1.0,1986.0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
13,1750000.0,1.0,1984.0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
16,2050000.0,4.0,2001.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49425,13000000.0,1.0,2014.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49426,866550786.0,9.0,2007.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49427,25000000.0,1.0,2008.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49429,34275015.0,4.0,1998.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49437,45000000.0,4.0,1999.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Splitting into Training, Test, and Validation Datasets

In [20]:

training = companies_df.sample(frac=0.7, random_state=2016)
placeholder = companies_df[~companies_df.isin(training)].dropna()
testing = placeholder.sample(frac=0.7, random_state=2016)
validation = placeholder[~placeholder.isin(testing)].dropna()

In [21]:
print("Rows in Training data are: {0}".format(len(training.index)))
print("Rows in Testing data are: {0}".format(len(testing.index)))
print("Rows in Validation data are: {0}".format(len(validation.index)))

Rows in Training data are: 14604
Rows in Testing data are: 4381
Rows in Validation data are: 1878

### Saving data to CSV then to S3

In [23]:
training.to_csv("data/training.csv", index=False)
testing.to_csv("data/testing.csv",  index=False)
validation.to_csv("data/validation.csv",  index=False)

In [30]:
boto3.Session().resource('s3').Bucket(bucket).Object(os.path.join(prefix, 'train/train.csv')).upload_file('data/training.csv')
boto3.Session().resource('s3').Bucket(bucket).Object(os.path.join(prefix, 'test/test.csv')).upload_file('data/testing.csv')
boto3.Session().resource('s3').Bucket(bucket).Object(os.path.join(prefix, 'test/validate.csv')).upload_file('data/validation.csv')